<!--
<div class="content-wrapper">
  <div class="page-header">
    <div class="page-header-content">
       <div class="page-title">
         <p>Widget Dashboard Contents </p>
         <hr />
       </div>
    </div> 
  </div>  
  <div class="content">   
    <p>Username: {{ username }}</p>
    <p>Role: {{ role }}</p>
    <p>Message: {{ message}}</p>
  </div>
</div>
-->

<div >
  <div >
    <div >
       <div >
         <h3>Quindar Mission Operations Application</h3>
         <hr />
       </div>
    </div> 
  </div>  
  <div >   
    <p>Username: {{ username }}</p>
    <p>Role: {{ role }}</p>
    <p>Message: {{ message}}</p>
  </div>
</div>